[Desktop Entry]
Name=TermIt
Comment=Simple terminal emulator with tabs
Comment[pl]=Prosty emulator terminala z kartami
Exec=termit
Icon=termit
Terminal=false
Type=Application
Categories=GTK;Utility;TerminalEmulator;
# vi: encoding=utf-8
